<div class="row">
  <div class="col-lg-12">
    <!--      <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>-->
    <mat-form-field class="full-width search-custom" style="width: 100%" appearance="outline" *ngIf="theses != null && theses.length !=0">
      <input matInput type="text" placeholder="Pretrazi..." aria-label="Number" [(ngModel)]="searchText">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-theses-item-staff
      *ngFor="let thesisEl of theses | filter:searchText; let i = index"
      [thesis]="thesisEl"
      [index]="i"></app-theses-item-staff>
  </div>
</div>
