<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix list-theses-item-custom">
  <div class="pull-left">
    <h4 class="list-group-item-heading list-text-title">{{ thesis.title }}</h4>
    <p class="list-group-item-text list-text-description">{{ thesis.description }}</p>
    <p class="list-group-item-text list-text-facility">{{ thesis.faculty }}</p> <span class="text-center list-text-date">{{thesis.dateOfThesisDefence | date:'dd-MMM-yyyy'}}</span>
  </div>
</a>
