<div *ngIf="thesis">
  <h2>Završni rad</h2>
  <div class="row p-4 shadow" >
    <div class="col-sm-4">
      <h5 class="border-bottom " > Tip završnog rada : Završni rad</h5>
      <mat-label>Tema</mat-label>
      <mat-card style="margin: 1px;">{{thesis.title}}</mat-card>
      <mat-label>Ocena</mat-label>
      <mat-card style="margin: 1px;">{{thesis.grade}}</mat-card>
    </div>
    <div class="col-sm-8">
      <h5 class="border-bottom ">Datumi</h5>
      <div class="row">
        <div class="col-sm-6">
          <mat-label class="font-weight-bold">Termin odbrane</mat-label>
          <mat-card class="font-weight-bold" style="margin: 1px;">{{thesis.dateOfThesisDefence | date: 'dd-MMM-yyyy'}}</mat-card>
          <mat-label  >Prijava</mat-label>
          <mat-card style="margin: 1px;"> {{thesis.dateOfReception | date: 'dd-MMM-yyyy'}}</mat-card>
        </div>

        <div class="col-sm-6">
          <mat-label>Predaja</mat-label>
          <mat-card style="margin: 1px;"> {{thesis.dateOfThesisSubmission | date: 'dd-MMM-yyyy'}}</mat-card>
          <mat-label>Datum formiranja komisije</mat-label>
          <mat-card style="margin: 1px;">{{thesis.dateOfBoardFormation | date: 'dd-MMM-yyyy'}}</mat-card>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row ">
    <div class="col">
      <ng-template [ngIf]="mentor">
        <mat-tab-group [(selectedIndex)]="selectedIndex">
          <mat-tab label="Mentor" class="tab-mentor">
            <mat-card> {{mentor.title.name}} {{mentor.name}} {{mentor.surname}}</mat-card>
          </mat-tab>
          <mat-tab  label="Odbrana" class="tab-odbrana">
            <tr
              *ngFor="let boardMember of boardMembers">
              <td>{{boardMember.title.name}} {{boardMember.name}} {{boardMember.surname}}</td>
            </tr>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </div>
  </div>
</div>


<!--  <form [formGroup]="thesisForm">-->
<!--    <h2>Završni rad</h2>-->
<!--    <p>Tip završnog rada : Završni rad</p>-->
<!--    <mat-form-field class="full-width" appearance="outline">-->
<!--      <mat-label>Tema</mat-label>-->
<!--      <input matInput type="text" placeholder="" formControlName="title" [value]="thesis.title" readonly>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field class="full-width" appearance="outline">-->
<!--      <mat-label>Ocena</mat-label>-->
<!--      <input matInput type="text" placeholder="" formControlName="grade" [value]="thesis.grade" readonly>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field class="example-full-width" appearance="outline">-->
<!--      <mat-label>Termin odbrane</mat-label>-->
<!--      <input matInput id="dateOfThesisDefence" formControlName="dateOfThesisDefence"-->
<!--             [value]="thesis.dateOfThesisDefence | date: 'dd-MMM-yyyy'" readonly>-->
<!--    </mat-form-field>-->
<!--    <p>Datumi</p>-->
<!--    <mat-form-field class="full-width" appearance="outline">-->
<!--      <mat-label>Prijava</mat-label>-->
<!--      <input matInput placeholder="" formControlName="dateOfReception"-->
<!--             [value]="thesis.dateOfReception | date: 'dd-MMM-yyyy'" readonly>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field class="full-width" appearance="outline">-->
<!--      <mat-label>Predaja</mat-label>-->
<!--      <input matInput placeholder="" formControlName="dateOfSubmission"-->
<!--             [value]="thesis.dateOfSubmission | date: 'dd-MMM-yyyy'" readonly>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field class="full-width" appearance="outline">-->
<!--      <mat-label>Odbrana</mat-label>-->
<!--      <input matInput placeholder="" formControlName="dateThesisDefended"-->
<!--             [value]="thesis.dateOfThesisDefence | date: 'dd-MMM-yyyy'" readonly>-->
<!--    </mat-form-field>-->
<!--  </form>-->
