.professor-inner{
  font-size: 16px;
  margin:5px 0;
}
.ime-inner-section, .titula-inner-section{
  font-size: 17px;
  font-weight: bold;
}
titula-inner-section{
  font-size:21px;
}
.ime-inner-section{
  font-size:26px;
}
.professor-detail-container{
  padding:15px;
  background-color: #fafafa;
}
.professor-inner.ime-inner-section{
 line-height: 1.785em;
  border-bottom:1px solid rgba(161, 158, 158, 0.47);
}
