.professor-inner{
  font-size: 16px;
}
.ime-inner-section, .titula-inner-section{
  font-size: 17px;
  font-weight: bold;
}
titula-inner-section{
  font-size:21px;
}
.ime-inner-section{
  font-size:26px;
}
.professor-detail-container{
  padding:15px;
  background-color: #fafafa;
}
