<div class="card mt-3">
  <div class="card-header">{{ title }}</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of fileInfos | async"
  >
    <li class="list-group-item">
      <a mat-raised-button class="btn" href="{{file.fileLocation}}">{{ file.name }}</a>
      <ng-template [ngIf]="deleteEnabled">
        <button mat-button (click)="onDelete(file.name)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
      <ng-template [ngIf]="hideShowEnabled && file.status != 'PUBLISHED'">
        <button mat-button *ngIf="file.status != 'BOARD_VIEW'" (click)="onChangeVisibility(file.name, file.status)" matTooltip="Omogući komisiji pregled dokumenta">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-button *ngIf="file.status == 'BOARD_VIEW'" (click)="onChangeVisibility(file.name, file.status)" matTooltip="Onemogući komisiji pregled dokumenta">
          <mat-icon>visibility_off</mat-icon>
        </button>
      </ng-template>
    </li>
  </ul>
</div>
