/* You can add global styles to this file, and also import other style files */
.md-datepicker-input-container {
  height: 38px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.search-custom {
  padding-bottom: 0 !important;
}
